@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Special+Elite&display=swap");

/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Special Elite', cursive;
*/

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-weight: 400;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Special Elite", cursive;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding-right: 3rem;
  background-color: #ccc;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End of Common Styles */

/* Menu */
.menu {
  top: 2rem;
  left: 2rem;
  z-index: 10;
  width: 4rem;
  height: 4rem;
  position: fixed;
  cursor: pointer;
  transition: all 0.5s;
  flex-direction: column;
}

.menu.change {
  left: 15vw;
  transform: rotate(45deg);
}

.menu-line {
  width: 100%;
  height: 0.2rem;
  margin: 0.3rem 0;
  background-color: #fff;
  transition: transform 0.5s;
  box-shadow: 0.1rem 0.1rem 0.3rem #222;
}

.change .menu-line-1 {
  transform: rotate(270deg) translateX(-0.4rem);
}

.change .menu-line-2 {
  transform: rotate(360deg) translateY(-0.4rem);
}
/* End of Menu */

/* Navbar */
.navbar {
  top: 0;
  left: -15vw;
  z-index: 10;
  width: 15vw;
  display: flex;
  height: 100vh;
  position: fixed;
  transition: left 0.5s;
  flex-direction: column;
  padding: 4rem 0 0 4rem;
  background-color: #fff;
}

.navbar.change {
  left: 0;
}

.navbar-link {
  color: #777;
  margin: 2rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  transition: color 0.3s;
  text-transform: uppercase;
}

.navbar-link:hover {
  color: #111;
}
/* End of Navbar */

/* Common Section Styles */
.wrapper {
  width: 100%;
  perspective: 50rem;
}

section {
  left: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 3rem;
  transition: left 0.5s, transform 0.5s;
  transform-origin: left;
  background-color: #efefef;
  box-shadow: 0.5rem 0.5rem 1rem #aaa;
}

section.change {
  left: 15vw;
  transform: rotateY(10deg);
}

.section-heading {
  color: #fff;
  font-size: 10rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10rem;
  letter-spacing: 1rem;
  text-shadow: 0.3rem 0.3rem 0.5rem #555;
}
/* End of Common Section Styles */

/* Section 1 */
.section-1 {
  flex-direction: column;
  background-size: cover;
  background: url(images/bg-section1.jpg) center no-repeat;
}

.section-1 .section-1-heading {
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-shadow: 1rem 1rem 1rem #000, 2rem 2rem 2rem #111, 3rem 3rem 3rem #222;
}

.section-1-img {
  width: 70%;
}
/* End of Section 1 */

/* Section 2 */
.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  width: 50rem;
  padding: 1rem;
  margin: 0 3rem;
  position: relative;
  background-color: #fff;
  transition: box-shadow 0.5s;
  box-shadow: 0.6rem 0.6rem 0.6rem #bbb;
}

.card:hover {
  box-shadow: 0.8rem 0.8rem 0.8rem #bbb;
}

.car-name {
  top: 2rem;
  left: 2rem;
  z-index: 10;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  text-transform: uppercase;
}

.card-img {
  width: 100%;
  opacity: 0.8;
  transition: opacity 0.5s;
}

.card:hover .card-img {
  opacity: 1;
}

.car-price {
  color: #777;
  margin: 0.5rem 0;
  font-size: 1.8rem;
}

.card-btn {
  width: 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  background-color: #fff;
  text-transform: uppercase;
  text-shadow: 0.1rem 0.1rem 0.3rem #000;
  box-shadow: 0.1rem 0.1rem 0.5rem #bbb;
}
/* End of Section 2 */

/* Section 3 */
.section-3 {
  display: flex;
  flex-direction: column;
  background-color: #222;
  justify-content: space-around;
}

.video {
  width: 25%;
  opacity: 0.8;
  margin: 0 2rem;
  border-radius: 0.5rem;
  transition: all 0.5s;
  box-shadow: 0.3rem 0.3rem 0.5rem #111;
}

.video:hover {
  opacity: 1;
  box-shadow: 0.5rem 0.5rem 1rem #111;
}
/* End of Section 3 */
